body {
  background-image: url(cena-de-horror-com-um-salao-assustador.jpg);
  background-size: cover; 
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  transition: all 0.4s ease;
  font-family: sans-serif;
}

.titulo {
  text-align: center;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 20px #fff;
}

h2 {
  font-size: 30px;
}

li {
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  text-align: left;
  padding-left: 0;
  list-style-type: square;
  transition: 0.4s ease;
  transition-property: font-size, line-height;
}

/*.pope-b:hover li,
.dani-b:hover li,
.steven-b:hover li,
.dymon-b:hover li,
.mondongo-b:hover li,
.coquicat-b:hover li,
.green-b:hover li,
.notam-b:hover li {
}*/

.tarjetas {
  position: absolute;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0;
}

.pope-b,
.dani-b,
.steven-b,
.dymon-b,
.mondongo-b,
.coquicat-b,
.green-b,
.notam-b {
  position: relative;
  justify-content:space-around;
  width: 300px;
  height: 700px;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.432));
  border-top: 8px solid black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 50px 2px #000;
  text-align: center;
  box-sizing: border-box;
  line-height: 1px;
  color: #000;
  margin: 8px 12px;
  flex-shrink: 0;
  transition: all 0.4s ease;
}

.pope-b {
  background: linear-gradient(#d7d66566 70%, transparent);
  outline: 2px solid #2d202a;
  color: #2d202a;
}

.dani-b {
  background: linear-gradient(#ffffff66 70%, transparent);
  outline: 2px solid #2a333b;
  color: #2a333b;
}

.steven-b {
  background: linear-gradient(#000e 70%, transparent);
  outline: 2px solid #a95bc0;
  color: #a95bc0;
}

.dymon-b {
  background: linear-gradient(#000e 70%, transparent);
  outline: 2px solid #ff005e;
  color: #ff005e;
}

.mondongo-b {
  background: linear-gradient(#767175 70%, transparent);
  outline: 2px solid #00170d;
  color: #00170d;
}

.coquicat-b {
  background: linear-gradient(#2b2446 70%, transparent);
  outline: 2px solid #e0beb5;
  color: #e0beb5;
}

.green-b {
  background: linear-gradient(#2b2446 70%, transparent);
  outline: 2px solid #e0beb5;
  color: #e0beb5;
}

.notam-b {
  background: linear-gradient(#5d6f89 70%, transparent);
  outline: 2px solid #000001;
  color: #000001;
}

.pope-b::before,
.dani-b::before,
.steven-b::before,
.dymon-b::before,
.mondongo-b::before,
.coquicat-b::before,
.green-b::before,
.notam-b::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(6px);
  z-index: -1;
}

.pope-b:hover,
.dani-b:hover,
.steven-b:hover,
.dymon-b:hover,
.mondongo-b:hover,
.coquicat-b:hover,
.green-b:hover,
.notam-b:hover {
  box-shadow: 5px 5px 30px 20px #000;
  outline: 5px solid whitesmoke;
  margin: 0;
}

.pope-b:hover .pope,
.dani-b:hover .dani,
.steven-b:hover .steven,
.dymon-b:hover .dymon,
.mondongo-b:hover .mondongo,
.coquicat-b:hover .coquicat,
.green-b:hover .green
.notam-b:hover .notam {
  transition: all 0.4s ease;
}

.pope,
.dani,
.steven,
.dymon,
.mondongo,
.coquicat,
.notam {
  transition: all 0.4s ease;
  width: 300px;
  height: 300px;
}

/* Para pantallas más pequeñas */
@media only screen and (max-width: 724px) {
  .tarjetas {
    justify-content: center;
    padding: 10px;
    overflow: hidden;
  }

  .pope-b,
  .dani-b,
  .steven-b,
  .dymon-b,
  .mondongo-b,
  .coquicat-b,
  .green-b,
  .notam-b {
    width: 300px;
    height: 500px;
    margin: 10px auto;
  }
  .pope-b:hover,
  .dani-b:hover,
  .steven-b:hover,
  .dymon-b:hover,
  .mondongo-b:hover,
  .coquicat-b:hover,
  .green-b:hover,
  .notam-b:hover {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 30px 20px #000;
    outline: 5px solid whitesmoke;
    margin: 10px auto;
  }

  .pope-b:hover .pope,
  .dani-b:hover .dani,
  .steven-b:hover .steven,
  .dymon-b:hover .dymon,
  .mondongo-b:hover .mondongo,
  .coquicat-b:hover .coquicat,
  .green-b:hover .green,
  .notam-b:hover .notam {
  width: 300px;
  height: 300px;
  transition: all 0.4s ease;
}

  h2 {
    font-size: 24px;
  }

  li {
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }

  .titulo {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
